.background-cont {
   
    background: linear-gradient(to right, #385bf5 49%, #ffc8d3 49%, #ffc8d3 100%); /* Adjust the colors to match the exact shades you want */
  }
  
  .other-cont {
    padding: 60px;
    background: #fff; /* Ensure the form background is white */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    max-width: 400px; /* Optional: Constrain the width of the form */
    margin: auto; /* Center the form in the flex container */
  }
  
  .other-cont h1 {
    margin-bottom: 100px; /* Increased bottom margin */
    font-size: 32px; /* Larger font size for the title */
  }
  
  .other-cont input {
    display: block;
    width: calc(100% - 20px); /* Adjust width to account for padding */
    padding: 15px; /* Increased padding */
    margin-bottom: 25px; /* Increased bottom margin */
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 18px; /* Larger font size for inputs */
  }
  
  .other-cont button {
    width: calc(100% - 20px); /* Adjust width to account for padding */
    padding: 15px; /* Increased padding */
    background-color: #3563E9; /* Blue background */
    color: #fff; /* White text */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px; /* Larger font size for button */
  }
  
  .other-cont button:hover {
    background-color: #2146c1; /* Darker blue on hover */
  }
  