.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff; /* or any preferred background color */
}

.login-form {
  padding: 60px; 
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
  background-color: #7cc6fe;
}

.login-form h1 {
  margin-bottom: 30px; /* Increased bottom margin */
  font-size: 32px; /* Larger font size for the title */
}

.login-form input {
  display: block;
  width: calc(100% - 20px); /* Adjust width to account for padding */
  padding: 15px; /* Increased padding */
  margin-bottom: 25px; /* Increased bottom margin */
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 18px; /* Larger font size for inputs */
}

.login-form button {
  width: calc(100% - 20px); /* Adjust width to account for padding */
  padding: 15px; /* Increased padding */
  background-color: #3563E9; /* Blue background */
  color: #fff; /* White text */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px; /* Larger font size for button */
}

.login-form button:hover {
  background-color: #2146c1; /* Darker blue on hover */
}
